<!doctype html>
<html>
<head>
  <title>Java Data Structure Visualizer</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Input You Java Code Here: </h1>

  <textarea id="usercode" rows="30" cols="80">
      // Please type your Java Function below
  </textarea>

  <br>

  <input type="submit" value="Submit">

  <br>

  <p id="submitguide">Click the "sumbit" button to generate the animation.</p>
 
 <img src= "/image/picachu.png" width="60" height="100">
</body>
</html>
