<!doctype html>
<html>
<head>
  <title>Java Data Structure Visualizer</title>
  <script src="{{ url_for('static', filename='script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  <h1>Input Your Java Code Here: </h1>

  <form action="submit" id="textform" method="post">
  <textarea name="usercode" rows="30" cols="80">
      // Please type your Java function below:
  </textarea>
  
  <br>

  <input type="submit" value="Submit">

  </form>  
    
  <br>

  <p id="submitguide">Click the "Submit" button to generate the animation.</p>
  
  {% for entry in this_history %}
      {% for variable in entry %}
          <div class="row">
          {% if variable=="pikachu" %}
              {% for image_appearance in range(entry[variable]) %}
          <div class="column">
          <img src="/static/pokemon_PNG78.png" width="60" height="100">
          </div>
              {% endfor %}
          {% endif %}
          </div>
          <div class="row">
          {% if variable=="turtle" %}
              {% for image_appearance in range(entry[variable]) %}
          <div class="column">
          <img src="/static/turtle.png" width="60" height="100">
          </div>
              {% endfor %}
          {% endif %}
          </div>
      {% endfor %}
  {% endfor %}
  
</body>
</html>

